### What is the output of the following code?
#### nums =set([1,1,2,3,3,3,4,4])
#### print(len(nums))
#### Hint:Set consists of aunique element.

In [2]:
nums =set([1,1,2,3,3,3,4,4])
print(len(nums))

4

### What will be the output? 
#### d ={"john":40, "peter":45} print(list(d.keys()))
#### Hint:d.keys()isthefunctionthatwillshowkeys.

In [5]:
d ={"john":40, "peter":45}
print(list(d.keys()))

['john', 'peter']

### A website requires a user to input a username and password to register. 
### Write a program to check the validity of the password given by the user. 
#### Following are the criteria for checking password:
##### 1. At least 1 letter between [a-z]
##### 2. At least 1 number between [0-9]
##### 1. At least 1 letter between [A-Z]
##### 3. At least 1 character from [$#@]
##### 4. Minimum length of transaction password: 6
##### 5. Maximum length of transaction password: 12

In [73]:
import re

pwd = "12fA#jbk"

if not re.search("[a-z]",pwd):
    print("At least 1 letter between [a-z]")
elif not re.search("[0-9]",pwd):
    print("At least 1 number between [0-9]")
elif not re.search("[A-Z]",pwd):
    print("At least 1 letter between [A-Z]")
elif not re.search("[$#@]",pwd):
    print("At least 1 character from [$#@]")
elif len(pwd)<6:
    print("Minimum length of transaction password: 6")
elif  len(pwd)>12:
    print("Maximum length of transaction password: 12")

### Write a for loop that prints all elements of a list and their position in the list.
##### a = [4,7,3,2,5,9]

In [8]:
a = [4,7,3,2,5,9]
for i,n in enumerate(a):
    print(f" index : {i}, number : {n} ")

 index : 0, number : 4
 index : 1, number : 7
 index : 2, number : 3
 index : 3, number : 2
 index : 4, number : 5
 index : 5, number : 9

### Please  write  a  program that accepts  a  string  from the console  and  print  the characters that have even indexes.

In [13]:
inputA = "H1e2l3l4o5w6o7r8l9d"
inputA[::2]

'Helloworld'

### Please write a program that accepts a string from the console and print it in reverse order.

In [9]:
inputB = "rise to vote sir"
inputB[::-1]

'ris etov ot esir'

### Please write a program that counts and prints the numbers of each character in a string input by the console.

In [95]:
inputC = "abcdefgabc"
for s in list(set(inputC)):
    print('{},{}'.format(s,inputC.count(s)))

b,2
f,1
c,2
g,1
d,1
a,2
e,1

### With   two   given   lists   [1,3,6,78,35,55]   and   [12,24,35,24,88,120,155],   write   a program to make a list whose elements are intersection of the above given lists.

In [33]:
list(set([1,3,6,78,35,55]).intersection(set([12,24,35,24,88,120,155])))

[35]

### By using list comprehension, please write a program to print the list after removing the value 24 in [12,24,35,24,88,120,155]

In [35]:
[x for x in [12,24,35,24,88,120,155] if x !=24]

[12, 35, 88, 120, 155]

### By using list comprehension, please write a program to print the list after removing the 0th,4th,and 5th numbers in [12,24,35,70,88,120,155]

In [37]:
[x for i,x in enumerate([12,24,35,70,88,120,155]) if i not in (0,4,5)]

[24, 35, 70, 155]

### By using list comprehension, please write a program to print the list after removing deletednumbers thatare divisible by 5 and 7 in [12,24,35,70,88,120,155]

In [39]:
[x for x in [12,24,35,70,88,120,155] if x%5 !=0 or x%7 !=0]

[12, 24, 88, 120, 155]

### Write  a  program  to  compute  1/2+2/3+3/4+...+n/n+1  with  a  given  n  input  by console (n>0)

In [44]:
def compute(n):
    return n/(n+1)
    
num = 5
total = 0
for i in range(1,num+1):
    total += compute(i)

round(total,2)

3.55